* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pointer
  cursor: pointer

.notAllowed
  cursor: not-allowed

.clear
  display: block
  height: 0
  content: ''
  clear:both

.ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-sapce: nowrap

.inline-block
  display: inline-block

.block
  display: block

.float-left
  float: left

.float-right
  float: right

.relative
  position: relative

.absolute
  position: absolute
